<header style = "margin-bottom: 10vh; text-align: center; font-size: 20px">
    <h2> You are now adding an army.<h2>
  </header>

{{#if message}}
  <p style="background-color: #1f65a3; color:white; text-align:center; padding: 20px">{{message}}</p>
{{/if}}

<form style = "text-align:center;" action="/addarmy" method="post">

  <div>
    <input type="text" placeholder="Name of your army" name="name" value="{{army.name}}">
  </div>

  <div>
    <input type="text" placeholder="What country/state does this army fight for?" name="country" value="{{army.country}}">
  </div>

  <div>
    <input type="text" placeholder="Who is the leader of your army?"  name="leader" value="{{army.leader}}">
  </div>

  <div>
    <input type="text" placeholder="How big is your army?"  name="size" value="{{army.size}}">
  </div>

  <div>
    <input type="text" placeholder="What is your leader's title?"  name="leadTitle" value="{{army.leadTitle}}">
  </div>

  <div>
    <input type="submit" value="Add your army to the game!">
  </div>
</form>